<%= nested_form_for(gadget, html: {multipart: true }) do |f| %>
  <%= render "form_messages", object: gadget %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for :photos do |p| %>
    <div class="field">
      <%= image_tag p.object.image.thumb.url, width: 200, heigth: 150 %><br>
      <%= p.file_field :image, class: "image" %>
      <%= p.link_to_remove "remove" %>
    </div>
  <% end %>
  <p><%= f.link_to_add "add image", :photos %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
